<a ui-sref="home">Home</a> &lt;<a ui-sref="category">Category</a> &lt; <span>Items<span>
<br>
<span><b>Name</b> : {{itemCtrl.itemDetails.category.name}}</span>
<br>
<span><b>Short Name</b> : {{itemCtrl.itemDetails.category.short_name}}</span>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Short name</th>
            <th>Large portion name</th>
            <th>Small portion name</th>
            <th>Price large</th>
            <th>Price small</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in itemCtrl.itemDetails.menu_items">
            <td>{{x.name}}</td>
            <td>{{x.short_name}}</td>
            <td>{{x.large_portion_name}}</td>
            <td>{{x.small_portion_name}}</td>
            <td>{{x.price_large}}</td>
            <td>{{x.price_small}}</td>
            <td>{{x.description}}</td>
        </tr>
    </tbody>
</table>
